---
import logo from "@/assets/logo-swiss-peak-media-webagentur-schweiz.webp";
---

<div class="flex items-center">
	<img
		src={logo.src}
		alt="SWISS PEAK MEDIA – Webagentur Schweiz"
		class="h-14 md:h-30 w-auto object-contain"
		loading="eager"
	/>
</div>